Django==4.1.8
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
mysqlclient==2.1.1
django-cors-headers==3.14.0
rpyc==5.3.1
numpy==1.24.2
deskew==1.4.3
jdeskew==0.2.1
ultralytics==8.0.115
gunicorn==20.1.0
boto3==1.26.151
uuid==1.30
Pillow==9.4.0
