Django
djangorestframework
djangorestframework-simplejwt
mysqlclient
django-cors-headers
matplotlib
opencv-python
pandas
Pillow
psutil
PyYAML
requests
scipy
seaborn
sentry-sdk
thop
tqdm
datasets
more_itertools
