# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy Python app to Azure Web App - ocr2023

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'src/UnoApp/**'

  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Download letter model using gdown
        run: |
          pip install gdown
          gdown 1pfFmbmzbiPPryt2LEltOvml7HH9SrMVQ -O src/Backend/InferenceServer/letter_model.pt

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/seniorproject-2023/ocr-app:${{ github.sha }}
          file: src/Backend/Dockerfile

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'ocr2023'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_6884B0EE279945F1BCB0C9C951811496 }}
          images: 'ghcr.io/seniorproject-2023/ocr-app:${{ github.sha }}'
